html {
    height: 100%;
    width: 100%;
  }
  
  @keyframes gradientAnimation {  
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

  .body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #b94a00, #310153, #ca02ca, #01a20c
    );
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
   
} 
body {
  font-family: "Outfit", sans-serif;
}

.imgs img {
  height: 140px;
  width: 140px;
  border-radius: 100%;
  margin-right: 15px;
  margin: 10px;
}

        .container {
            display: flex;
        }

        .back {
          margin: 5px;
          position: relative;
          left: 10px;
          top: -10px;
          box-shadow: 10px 10px 20px black;
          border: 2px solid purple;
          padding: 10px 50px;
          border-radius: 30px;
          background-color: #310153;
          font-size: 15px;
          font-family:fantasy;
          color: aliceblue;  
          cursor: pointer;
        }
        .back:hover{
          transform: scale(1.2);
          background-color:  #b006b0;
        }

        .header {
            position: relative;
        }

        h4, p {
            margin: 0;
        }
        .Txt{
          color: rgb(213, 213, 213);
          font-family: fantasy;
          text-shadow: 4px 4px 20px black;

        }
        .Devs{
          color: rgb(213, 213, 213);
          font-family: 'Times New Roman', Times, serif;
          text-shadow: 4px 4px 20px black;
          font-size: 20px;
          position: relative;
          top: 20px;
          margin: 20px 20px;
          padding: 20px 30px;
        }
        .DevsInfo{
          margin-left: 20px;
          margin-top: 30px;
        }